CANTIDAD_ENTRENADORES=5
CANTIDAD_OBJETIVOS=5
POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[ , , , , ]
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
ESTIMACION_INICIAL=0
LOG_FILE=log_team1.txt

IP_BROKER=10.108.224.4
PUERTO_BROKER=7998
PUERTO_TEAM=6133
IP_TEAM=10.108.224.3

ID_UNICO=2

TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=2

ALGORITMO_PLANIFICACION=RR
QUANTUM=1