
CANTIDAD_ENTRENADORES=3
CANTIDAD_OBJETIVOS= 9
POSICIONES_ENTRENADORES=[1|2,3|7,5|5]
POKEMON_ENTRENADORES=[Victoria|Squirtle|Pidgey,Squirtle|Charmander, Bulbasaur]
OBJETIVOS_ENTRENADORES=[Delfina|Pikachu|Squirtle|Pidgey,Pikachu|Charmander|Charmander,Squirtle|Bulbasaur]
ESTIMACION_INICIAL=0
LOG_FILE=/home/utnso/log_team1.txt

IP_BROKER=127.0.0.1
PUERTO_BROKER=5002