CANTIDAD_ENTRENADORES=1
CANTIDAD_OBJETIVOS=2
POSICIONES_ENTRENADORES=[8|9]
POKEMON_ENTRENADORES=[ ]
OBJETIVOS_ENTRENADORES=[Pikachu|Ganger]
ESTIMACION_INICIAL=0
LOG_FILE=/home/utnso/Escritorio/log_team1.txt

IP_BROKER=127.0.0.1
PUERTO_BROKER=6016
PUERTO_TEAM=5044
IP_TEAM=127.0.0.2

ID_UNICO=1

TIEMPO_RECONEXION=30

ALGORITMO_PLANIFICACION=FIFO
QUANTUM=3